* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #064852;
  padding-top: 12px;
  padding-bottom: 12px;
}
.logo {
  font-size: 40px;
  color: antiquewhite;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.home,
.about,
.contacts,
.signup,
.skills {
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  padding: 10px 20px;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 3em;
    padding-left: 3em;
  }
  .nav-links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
  .burger-icons {
    width: 50px;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    background-color: rgba(6, 72, 82, 0.367);
    left: 0;
    top: 80px;
    transition: all 0.1s;
    width: 100%;
  }

  .home,
  .about,
  .contacts,
  .signup,
  .skills {
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding: 32px;
    transition: all 0.3s ease;
  }
}
